@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
   
    <a asp-action="GetAll" asp-controller="SECChk" asp-route-storeno="149491" class="btn btn-primary">149491</a>
    <a asp-action="GetAll" asp-controller="SECChk" asp-route-storeno="188935" class="btn btn-dark">188935</a>
    <a asp-action="GetAll" asp-controller="SECChk" asp-route-storeno="197308" class="btn btn-danger">197308</a>
</div>